.startButton{
    width: 400px;
    height: 75px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
}

.startButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.startpage-header{
    height: 120px;
    width: 830px;
    background-color: #1A1A1A;
    margin: auto auto 10px;
}

.startpage{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startpage-logo {
    padding-top: 10px;
    display: block;
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.createButton {
    width: 400px;
    height: 75px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
}

@media only screen and (max-width: 859px) {
    .startpage-header{
        width: 400px;
    }
    .createButton {
        width: 400px;
    }
}

@media only screen and (max-height: 638px) {
    .startpage{
        height: 100%;
    }
}

button {
    line-height: 1;
}

.logout-container{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    margin-right: 15px;
}

.button-logout {
    height: 30px;
    margin: 15px;
}

.create-inputs{
    margin-bottom: 15px;
}
