#Room {
    border: 1px solid black;
    background-color: rgba(36, 36, 36, 0.75);
    margin: 15px 25px 15px auto;
    color: white;
}

#join {
    float: right;
}

.join-button {
    min-width: 150px;
    min-height: 20px;
    margin: 5px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
}

.room-list{
    font-size: 30px;
    margin: 5px;
}
