.voting-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.readyText {
    color: white;
    margin: 5px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.no-vote {
    font-family: "mafia-font", sans-serif;
    color: #85201B;
    text-align: center;
    width: 100%;
}

.no-vote h1 {
    font-size: 3.5rem;
}

.btn-vote {
    margin: 5px;
}

.vote-txt{
    font-family: "mafia-font", sans-serif;
    font-size: 50px;
    color: #85201B;
}