th, td {
    color: #525252;
}
#chat{
    margin-bottom: 50px
}
#chat-title {
    color: #85201B;
    font-size: 50px;
    margin-top: 15px;
    font-weight: bold;
    background-color: #1A1A1A;
    height: 120px;
    text-align: center;
    padding-top: 25px;
}

#chat-window {
    border: 1px solid black;
    background-color: rgba(36, 36, 36, 0.75);
    height: 530px;
}

#chat-input-box {
    display: inline-block;
    height: 50px;
    width: 100%;
    bottom: 0;

    margin-bottom: 75px
}

#chat-input-send {
    background-color: #85201B;
    color: white;
    font-weight: bold;
    border: 1px solid grey;
    height: 100%;
    width: 100%;
}

.button-container {
    display: inline-block;
    width: 25%;
    height: 100%;
}

.input-container {
    float: right;
    width: 75%;
    height: 100%;
}

#chat-input {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.flex-container-chat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    overflow-y: auto;
    color: white;
    padding: 5px;
}