.app-header {
    display: inline;
    text-align: center;
    color: #85201B;
    font-size: 70px;
    font-family: "mafia-font", sans-serif;
    letter-spacing: 4px;
}

.header-bar {
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.App-link {
    color: #61dafb;
}

#maffia-logo {
    width: 45px;
    height: 60px;
    margin-left: 30px;
    margin-top: 5px;
    float: left;
}

#settings-icon {
    width: 60px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}