.player-card {
    max-width: 650px;
    max-height: 600px;
    color: white;
    background-color: #292929;
    text-align: center;
    margin: 5px;
}

.card-knoppen {
    padding: 5px;
    margin: 5px;
}