#header-text{
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.createroom-header{
    height: 120px;
    width: 100%;
    background-color: #1A1A1A;
}

.createroom-box{
    width: 30%;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.createroom{
    background-color: rgba(36,36,36,0.75);
    padding: 5%;
}

.createroom-input{
    opacity: 1;
     border: #424242 3px solid;
     height: 30px;
     margin-bottom: 20px;
     padding-left: 1%;
     width: 95%;
    line-height: 1;
 }
#create{
    width: 97%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #85201B;
    color: white;
    font-size: 22px;
    border: #424242 3px solid;
    line-height: 1;
}

#createroom-logo {
    padding-top: 10px;
    display: block;
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#lengthnight {
    width: 46%;
}

#lengthday {
    width: 45%;
    margin-left: 10px;
}


label {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

@media only screen and (max-width: 1159px) {
    #lengthnight {
        width: 95%;
    }

    #lengthday {
        width: 95%;
        margin-left: 0px;
    }
}




