.winner-box {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.loading-text {
    color: #85201B;
    font-size: 3rem;
    font-family: "mafia-font", sans-serif;
}

.winner-title {
    color: #85201B;
    text-align: center;
    font-family: mafia-font, sans-serif;
    font-size: 6rem;
}