.game {
    width: 100%;
    margin-top: 0;
}

#game {
    margin-bottom: 60px;
}

#round-text {
    margin-left: 10px;
}

.container-row {
    margin-right: 0px;
}

.card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.dead-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
}

.card-dead-container {
    height: 100%;
}

.first-column-dead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.round-text {
    font-family: mafia-font, sans-serif;
    color: #85201B;
    font-size: 35px;
}

.round-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
}

.card-knoppen {
    padding: 5px;
    margin: 5px;
}

.listitem{
    background-color: #1F1F1F;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.container-list{
    margin-left: 15px;
    margin-right: 0;
}

.user-btn{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top: 5px;
    height: 35px;
    width: 150px;
    margin: 5px;
}

.player-list{
    max-height: 150px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.column-list {
    margin: auto;
}

#playerList{
    display: none;
}