#header-text{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#logo{
    padding-top: 10px;
    display: block;
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#login-container{
    margin-right: 0;
    margin-top: 15px;
    float: right;
}
.login-box{
    padding: 20px 30px 20px 30px;
    background-color: #1A1A1A;
}
#icon-container{
    width: 25px;
    height: 25px;
    float: left;
}
#username-icon{
    height: 90%;
    padding: 10% 20% 10% 20%;
}
#password-icon{
    height: 80%;
    padding: 10% 20% 10% 20%;
}
.button-login{
    color: #DBDBDB;
    font-size: 22px;
    margin-top: 20px;
    border: none;
    height: 35px;
    width: 100%;
    background-color: #85201B;
}

label {
    color: white;
    font-size: 2em;
    font-weight: bold;
}
#username-container{
    width: 100%;
    height: 35px;
    display: inline-block;
    margin-bottom: 10px;
}
.login-input{
    color: #756F6E;
    float: right;
    background: #3D3D3D;
    width: 84%;
    height: 35px;
    border: none;
    padding: 0px 0px 0px 5px;
}
#input-box{
    width: 100%;
    height: 35px;
    background: #292929;
}

.login-title {
    font-weight: bold;
    color: #85201B;
    text-align: center;
}

#login-logo {
    background-color: #1A1A1A;
    margin: auto auto 10px;
    padding-top: 10px;
    display: block;
    height: 100px;
    width: auto;
}

