#waitingroom {
    border: 1px solid black;
    background-color: rgba(36, 36, 36, 0.75);
    padding: 0;
    margin: 15px auto 50px;
}

.div-roomtext {
    color: white;
    font-size: 20px;
    margin: 10px;
    padding-left: 15px;
}

.back_button {
    min-width: 250px;
    min-height: 75px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
}

.header-rooms {
    font-size: 45px;
    color: #85201B;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px
}

.input-rooms {
    margin: 10px;
    max-height: 30px;
}

.image-container {
    background-color: #1A1A1A;
    height: 120px;
    margin: 0;
}

#logo-maffia{
    max-height: 100px;
    max-width: 100px;
    margin: auto ;
}

.button-leave{
    min-width: 200px;
    min-height: 75px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
    float: left;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-top: 15px;
}

.row-container{
    margin-right: 0;
    margin-left: 0;
}

#waitingroomrow{
    margin-right: 0;
}