.startButton{
    width: 400px;
    height: 75px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
}