.container-roomlist {
    margin-bottom: 50px;
    margin-right: 15px;
}

@media only screen and (max-width: 1077px) {
    .roomitem-header {
        display: none;
    }
}

.button-back {
    width: 150px;
    height: 60px;
    background-color: #85201B;
    color: white;
    font-size: 30px;
    border: #424242 3px solid;
    margin-left: 40px;
}