#header-text{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.email-error {
    color: #85201B;
}

.register-header{
    height: 20%;
    width: 100%;
    background-color: #1A1A1A;
    margin-right: 0px;
}

.register-box{
    margin: 20px;
    height: 65vh;
    float: right;
}

.register{
    background-color: rgba(36,36,36,0.75);
    padding: 5%;
}.register-input{
    opacity: 1;
     border: #424242 3px solid;
     height: 30px;
     margin-bottom: 10px;
     padding-left: 1%;
     width: 95%;
 }
#username-register{
    margin-top: 5%;
}
#firstname{
    width: 29%;
}
#lastname{
    margin-left: 2%;
    width: 61.5%;
}

.button-register{
    width: 98%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #85201B;
    color: white;
    font-size: 22px;
    border: #424242 3px solid;
}

label {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

#register-logo {
    padding-top: 10px;
    display: block;
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.register-title {
    font-weight: bold;
    color: #85201B;
    text-align: center;
}