#profilestats{
    margin-top: 15px;
    padding: 15px;
    background-color: #292929;
    font-size: 20px;
    color: whitesmoke;
    margin: auto;
}
.profile-title{
    width: 85%;
}
#btn-profile-back{
    margin-top: 10px;
    width: 15%;
}