.player-dead {
    max-height: 100px;
    max-width: 140px;
    color: white;
    background-color: #292929;
    text-align: center;
    font-size: 10px;
    margin: 3px;
    padding-top: 2px;
}

.card-title {
    margin-bottom: 5px;

}
.card-text {
    margin-top: 3px;
}

#skull {
    max-width:75px;
    max-height:75px;
    position: absolute;
    top: 25px;
    left:30px;
    opacity: 0.3;
}