#header-text{
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.settings-header{
    height: 20%;
    background-color: #1A1A1A;
    margin-top: 15px;
}

.settings-box{
    height: 65vh;
    margin: auto;
}

.settings{
    background-color: rgba(36,36,36,0.75);
    padding: 5%;
}

.settings-input{
     opacity: 1;
     border: #424242 3px solid;
     height: 30px;
     margin-bottom: 10px;
     padding-left: 1%;
     width: 100%;
 }
#username-register{
    margin-top: 5%;
}
#firstname{
    width: 29%;
}
#lastname{
    margin-left: 2%;
    width: 61.5%;
}

.back{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #85201B;
    color: white;
    font-size: 22px;
    border: #424242 3px solid;
}

#settings-logo {
    padding-top: 10px;
    display: block;
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.settings-title {
    font-weight: bold;
    color: #85201B;
    text-align: center;
    margin-bottom: 50px;
}

.labels {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.settings-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#yes-notifications{
    margin-left:27px;
}

.input-radio {
    margin-left: 10px;

}