.App {
    text-align: center;
}

.app-header {
    display: inline;
    text-align: center;
    color: #85201B;
    font-size: 70px;
    font-family: "mafia-font", sans-serif;
    letter-spacing: 4px;
}

.header-bar {
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.App-link {
    color: #61dafb;
}

.footer-button {
    border: none;
    background: none;
    color: #756F6E;
}

.footer-button :hover {
    text-decoration: underline;
}

.rules-text {
    white-space: pre-line;
    text-align: center;
    color: #85201B;
}

.modal-style {
    background: #1F1F1F;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#maffia-logo{
    width: 800px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#settings-icon{
    width: 60px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.app-footer{
    width: 100%;
    position: fixed;
    background-color: #1F1F1F;
    color: #756F6E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
}

.app-footer a {
    color: #756F6E;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

@font-face {
    font-family: "mafia-font";
    src: url("Resources/fonts/TheGodfather-v2.ttf");
}

@font-face {
    font-family: "mafia-font2";
    src: url("Resources/fonts/Corleone.ttf");
}
